html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
    scroll-behavior: auto;
    height:100%
	}
}

body{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    background: #fff;
    color:#fff;
    line-height: 1.6;
    height:100vh;
}

.container{
    width: auto;
    height: 100%;
    /*css smooth scroll*/
}

/*button*/
.btn {
    display: inline-block;
    background: #F1DA73;
    color: #A7E3C5;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0.5em 0;
    border-radius: 50px;
  }
  
  .btn:hover {
    background: #eaeaea;
    color: #333;
  }
/*end button*/

/*Navigation bar*/
.logo{
    padding: 7.5px 10px 7.5px 0;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.item {
    padding: 10px;
  }

.nav{
  position: sticky;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #F1DA73;
}

.navbar p{
  color: #333;
  font-size: 14px
}

.navbar ul li a:hover{
    color: #A7E3C5;
}
/*End navigation*/

.flex-item {
    display:flex;
    align-items: center;
}

.flex-item img{
    flex-grow:0;
    flex-shrink:0;
    border-radius: 50%;
    padding-right: 20px;
}

.container-2{
  width: 100%;
  float: center;
  background-color: #EDEBEB;
  padding-top:50px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 70px;
}
.container-2 h2{
  font-size: 3rem;
  color: #333;
  padding-bottom: 20px;
}
.container-2 h3{
  font-size: 2rem;
  color: #333;
}

.container-2 h4{
  font-size: 1.5rem;
  color: #333;
}
.container-2 p{
  font-size: 20px;
  color: #333;
}
.container-2 a{
  color: #FC4445;
}
.container-2 ul li{
  font-size: 20px;
  color: #333;
}

/*Section content*/
section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 53vh;
}

section h1{
    font-size: 5rem;
}

section h2{
  font-size: 3rem;
}

section h3{
  font-size: 2rem;
}

section p{
    font-size: 1.5rem;
    color: #333;
}

section#home{
    color: #A7E3C5;
}

section#about h1{
    color:#F1DA73;
}

section#about p{
    color:#333;
    font: helvetica;
    font-size: large;
}

section#home{
    background-color: #fff;
    text-align: left;
}

/* Section A */
#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
  }
/*End Section A*/

/* Section B */
#section-b {
    padding: 2em 1em 1em;
  }
  
#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}
  
.card-content {
    padding: 1.5em;
}
/*End Section B*/ 

/* Section C */
#section-c {
    background: #E9E9E7;
    color: #333;
    padding: 2em;
  }
#section-c h3{
    color: #333;
}
#section-c p{
  color: #333;
}

#section-c a{
  text-align: left;
  color: #FC4445;
}

#section-c a:hover{
  color: #FC4445;
}
/*End section c*/

/* Section D */
#section-d {
  background:url(../img/female-doctor-patient-2.jpg);
  background-color: #E9E9E7;
  background-size: contain;
  background-position: center right;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 100px 70px #E9E9E7 inset, -10px -10px 100px 50px #E9E9E7 inset; 
  color: #333;
  padding: 2em;
}

/*#section-d .bg-image{
  position:absolute;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}*/
#section-d h2{
  color: #333;
}

#section-d p{
  font-size: 1.5rem;
  color: #333;
}

#section-d a{
text-align: left;
color: #FC4445;
}

#section-d a:hover{
color: #FC4445;
}
/*End Section D*/

/* Pricing Page */
#section-pricing {
  background: #A7E3C5;
  color: #333;
  padding: 2em;
}
#section-pricing h2{
  color: #fff;
  font-size: 4rem;
}

#section-pricing a{
text-align: left;
color: #F1DA73;
text-decoration: none;
}
/*End Pricing*/

/* Services Page */
/*End Services*/

/* Section Home / Boxes */
#home .box {
    padding: 2em;
    color: #fff;
  }
  
  #home .box:first-child {
    background: #A7E3C5;
  }
#home img{
  width: 100%;
}

#section-d img{
width: 90%;
}
/*End Home/Boxes*/
/*End Sections*/

/*Hero*/
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #A7E3C5;
  width: 100%;
  height: 30vh;
}
.hero-title{
  margin: 0;
  font-size: 4rem;
}

/* Footer */

footer {
  background-color: #555;
  color: #fff;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
footer li{
  list-style: none;
}
footer p{
  margin: 0;
}
.ft-title {
  color: #fff;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
.footer-container{
  flex: 1;    /* same as flex-grow: 1; */
}
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
}
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-main-item a:hover{
  color: #A7E3C5;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
.ft-legal-list a:hover{
  color: #A7E3C5;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;       /* same as flex-grow: 1; */
}

/* Media Queries */
@media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 3fr repeat(2, minmax(auto, 25em)) 1fr;
    }
  
    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-a .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-b ul {
      grid-column: 1/4;
    }
    #section-b ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-b li {
      width: 31%;
    }
  }

  @media screen and (min-width: 700px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (min-width: 700px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    .about-section{
      grid-template-columns: 1fr;
      width: 100%;
    }
    .image{
      height: 100vh;
  }
    .inner-container{
      height: 100vh;
    }
    .inner-container{
      font-size: 20px;
        margin-top: 50px;
    }
    .inner-container{
      font-size: 14px;
    }
}

@media(max-width: 480px){
 .logo img {
  width: 224px;
  margin-top: 10px;
  }
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
      justify-content: space-around;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
      justify-content: space-evenly;
  }
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/*section#testimonials{
    background-color: #F1DA73;
}*/

/*Parallax*/
.image-container {
  /* The image used */
  background: url(../img/gobilemd-office.jpg);
  width: auto;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-container-2 {
  /* The image used */
  background: url(../img/giavonne-rondo.PNG);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*End Parallax*/
/*About our doctor*/
.about-image{
background: url(../img/giavonne-rondo.PNG) center/cover no-repeat;
}
.about-section{
  display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}

.inner-container{
  background: #A7E3C5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 3rem;
  /*font-weight: 900;*/
  color:#191919;
}

.inner-container h2{
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 900;
  color:#191919;
}

.inner-container h3{
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 900;
  color:#191919;
}

.inner-container ul li{
  font-size: 20px;
  color: #333;
  text-align: justify;
}

.text{
  font-size: 20px;
  color: #333;
  line-height: 30px;
  text-align: justify;
}


.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

/*About GobileMD*/
.about-gobilemd-section{
  background: url(../img/gobilemd-office.jpg) no-repeat left;
  background-size: 55%;
  background-color: #A7E3C5;
  overflow: hidden;
  padding: 100px 0;
}